@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,200;0,300;0,400;0,500;1,100&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: montserrat;
  background-image: url(ebichu_img03.png);
}

h1 {
  margin-bottom: 15px;
  font-size: 40px;
  text-align: center;
}

legend {
  font-size: 12px;
}

.wrapper {
  width: 400px;
  margin: 0 auto;
  margin-top: 100px;
  background-color: #ffecb3;
  padding: 15px;
  border-radius: 10px;
}

.field {
  padding: 20px;
  margin-bottom: 20px;
  border-radius: 10px;
  border: 1px dotted #ffb300;
}

.field p {
  margin-bottom: 5px;
}

.whoareyou {
  padding-top: 15px;
  font-weight: bold;
}

.submit {
  padding: 3px;
}
